.create-page-wrapper {
  position: relative;
  background-color: var(--bg-color);
  height: var(--create-page-height);
  text-align: center;
  display: flex;
  flex-direction: column;
}

:host ::ng-deep .ng2-pdf-viewer-container {
  height: auto !important;
  overflow-y: hidden !important;
}

:host ::ng-deep .ng2-pdf-viewer-container > div {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center the PDF within the container */
}

:host ::ng-deep .ng2-pdf-viewer-container canvas {
  width: 100% !important; /* Make the canvas fit the container width */
  height: auto !important; /* Maintain aspect ratio */
}

:host ::ng-deep .ng2-pdf-viewer-container .page {
  width: calc(var(--scale-factor) * 600px) !important;
  height: calc(var(--scale-factor) * 600px) !important;
}

.order-btn {
  width: 100px;
  height: 40px;
  border-radius: 4px;
  margin-top: 2rem;
  margin-left: 1rem;
  border: none;
  letter-spacing: 1px;
  background-color: var(--text-color);
  color: var(--bg-color);
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--bg-color);
    color: var(--text-color);
    box-shadow: 0 0 20px rgba(116, 58, 4, 0.7);
  }
}

.bottom-btn {
  position: absolute;
  display: block;
  align-self: center;
  bottom: 20px;
}