.wrapper {
  background-color: var(--bg-color);
  color: var(--text-color);
  height: var(--footer-height);
  padding: 1rem;
  padding-right: 2rem;
  width: 100%;
  border-top: 1px solid var(--border-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: end;
  align-items: center;
}